body {
    width: 200mm;
    height: 297mm;
    margin-left: auto;
    margin-right: auto;
}

* {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: "Open Sans", sans-serif;
}

div {
    page-break-after: always;
}

ul {
    margin-top: 0.5rem;
    list-style: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-decoration: none;
}

section {
    margin-bottom: 0.75rem;
    page-break-after: always;
}

h4,
h5 {
    font-weight: 600;
}

p {
    line-height: 1.25em;
}

.container {
    display: grid;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 25mm 15mm 25mm 15mm;
        page-break-after: always;
    }
}

.name,
.title {
    text-transform: uppercase;
}

.time {
    font-size: 0.85rem;
    float: right;
}

.link {
    color: rgb(136, 136, 136);
    font-size: 0.8rem;
}

.contact.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summary p {
    text-align: justify;
}

.skills .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    column-gap: 1rem;
}

.skills ul {
    font-size: 0.85rem;
}

.skills li {
    margin-bottom: 0.5rem;
}

.skills li p {
    font-size: 0.75rem;
    color: rgb(77, 75, 75);
}

.skills .front-end div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.work-experience>ul>li,
.education>ul>li,
.referee>ul>li {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.desc-item {
    font-size: 0.9em;
}

.task-list {
    margin-top: 0.5em;
    padding-left: 2em;
}

.task-list li {
    list-style: disc;
    margin-left: 1rem;
    margin-bottom: 0.2em;
    font-size: 0.9em;
    line-height: 1.2;
}
