* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serfi;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('../src/font/iconfont.eot');
    src: url('../src/font/iconfont.eot?#iefix') format('embedded-opentype'), url('../src/font/iconfont.woff') format('woff'), url('../src/font/iconfont.ttf') format('truetype'), url('../src/font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

.f-fl {
    float: left;
}

.f-fr {
    float: right;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

.clearfix:after {
    height: 0;
    content: ".";
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.container {
    width: 100%;
    height: 1120px;
}

.column {
    padding: 2rem 1rem;
    height: 100%;
    position: relative;
    &.f-fl {
        color: #eaeaea;
        width: 30%;
        background-color: #243A84;
    }
    &.f-fr {
        width: 70%;
        background-color: #eee;
    }
}


//===============================
.profile {
    .name {
        margin: 0 auto;
    }
}

.selfie {
    margin: 0 auto;
    width: 12rem;
    height: 12rem;
    border-radius: 50% 50%;
    overflow: hidden;
    img {
        width: 12rem;
        height: 12rem;
    }
}

.name {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.position {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.intro {
    margin-top: 3rem;
    text-align: justify;
    font-size: .7rem;
    line-height: 1.5;
    font-weight: lighter;
    word-wrap: break-word;
}


.contact-container {
    margin-top: 1rem;
    line-height: 1.5;
    h4 {
        margin-bottom: .5rem;
    }
    .addr {
        font-size: .7rem;    
    }
}



.contact-list {
    line-height: 1.3;
    li {
        font-family: 'Quicksand', sans-serif;
        font-size: .9rem;
        font-weight: lighter;
        a {
            color: #eee;
        }
    }

}

section {
    margin-bottom: 1rem;
    .title {
        color: #15274E;
        line-height: 1.5;
    }
    li {
        margin-bottom: .3rem;
        .item-title {
            color: #254382;
            line-height: 1.5;
        }
        .item-desc {
            display: inline-block;
            color: #434853;
            font-size: .8rem;
        }
    }
    .skills-list, .honors-list {
        margin-left: 1rem;
        li {
            list-style: disc;
        }
    }
}

.time {
    display: inline-block;
    border-radius: 5px;
    padding: .2rem .4rem;
    color: #fff;
    font-size: .5rem;
    background-color: #0A3C7F;
    vertical-align: 2px;
    margin-left: .5rem;
    font-weight: 200;
}

.referee {
    color: #0A3C7F;
    ul {
        margin-top: .2rem;
    }
    .ref-name {
        font-weight: bold;
    }
}


